<%- include('./partials/header.ejs'); %>
<%- include('./partials/sideMenu.ejs'); %>
      <div id ="data"><br>
        <div id="datafield">
          <h3 style="color: white;">Hello <%= user.name%></h3>
        <p>You can see the contents here</p>
        </div>
      </div> 
    